body{
    background: url(./images/bg-pattern-top.svg), 
    url(./images/bg-pattern-bottom.svg),
    linear-gradient(hsl(185, 75%, 39%),hsl(185, 75%, 39%));

    background-position: top -400px left -350px, top 300px left 720px, center;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed;

    font-family: 'Kumbh Sans', sans-serif;
}

.wallpaper{
    background: url(./images/bg-pattern-card.svg);
    height: 150px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.container{
    margin: 30vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card{
    width: 300px;
    border-radius: 20px;
    background: aliceblue;
    padding-bottom: 10px;
}

.profile-picture {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    border: 5px solid white;
    overflow: hidden;
    margin: -55px auto 30px auto;
  }
  
  .profile-picture img {
    width: 100%;
    display: block;
  
  }

  .information{
      text-align: center;
  }

  .info{
      display: flex;
      justify-content: space-evenly;
  }